html, body {
    font-size: 16px;
    font-family: monospace;
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    color: #eee;
    background-image: url(../assets/192050.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: rgba(0, 0, 66, 0.666);
    background-image: url(../assets/dribbb.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
#clock {
    font-size: 9rem;
    color: #f0f0e0a0;
    text-align: center;
    cursor: default;
    user-select: none;
    text-shadow: 0 0 1rem #a0e0f0f0;
    /* background-color: #6669; */
}

#tabs a {
    display: block;
    border-radius: 0.333rem;
    box-shadow: 0 0 0.666rem #aaa;
    height: 6.66rem;
    width: 6.666rem;
}
#tabs a img {
    display: block;
    margin: auto;
    width: 6.66rem;
    height: 6.66rem;
}
#tabs a.from-left-top { transform: translate(-666vw, -666vh); }
#tabs a.from-right-top { transform: translate( 666vw, -666vh); }
#tabs a.from-left-bottom { transform: translate(-666vw, 666vh); }
#tabs a.from-right-bottom { transform: translate( 666vw, 666vh); }
#tabs a {
    display: inline-block;
    margin: 0.666rem;
    cursor: pointer;
    background: #eee;
    border-radius: 0.666rem;
    box-shadow: 0 0 1rem #ddd;
    transform: translate(0, 0);
    transition-property: transform;
    transition-duration: 0.999s;
    transition-delay: 0s;
    padding: 0.666rem;

    text-align: center;
    vertical-align: middle;
    line-height: 3.333rem;
    position: relative;
}
#tabs a:hover, #tabs a:focus, #tabs a.selected {
    transform: scale(1.666);
    z-index: 666;
    outline: none;
}

#tabs a button {
    position: absolute;
    right: -0.666rem;
    top: -0.666rem;
    color: bisque;
    background: darkred;
    font-size: 1.666rem;
    font-family: monospace;
    line-height: 1.333rem;
    width: 2.666rem;
    height: 2.666rem;
    vertical-align: middle;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.111rem;
    /*border: 1px solid bisque;*/
    border-radius: 0.666rem;
}
#tabs a button svg {
    stroke: rosybrown;
    fill: palegoldenrod;
    display: block;
    margin: auto;
}
#tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
}
#search-form {
    width: 100%;
}
input[type=search] {
    min-width: 66.6%;
    margin: 1.666rem;
    outline: none;
    /* box-shadow: 0 0 0.666rem #6669; */
    background: transparent;
    border: 1px solid darkgreen;
    font-size: 3.33rem;
    line-height: 6.666rem;
    padding: 0.666rem;
    color: #eee;
    font-family: Consolas, "Lucida Console", serif;
}
input[type=search]:focus {
    outline: none;
    /* border: none; */
    /* box-shadow: 0 0 0.666rem #7779; */
}
#bookmarks {
    /* todo: uncomment when  ready */
    display: none;
    right: 0;
    position: absolute;
    top: 6.66rem;  
    max-width: 21rem;
    height: calc(100vh - 12.666rem);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #00000096;
}
#bookmarks div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: right;
    justify-content: space-evenly;
}
#bookmarks a {
    text-decoration: none;
    font-size: 1.999rem;
    color: #6f6;
    text-shadow: 0 0 0.666rem #696;
    margin: 0 1.333rem;
    padding: 0.333rem 0.666rem;
    /* border-bottom: 0.111rem solid #696f; */
    height: 2rem;
    width: 16rem;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    line-height: 1;
    vertical-align: middle;
}
#bookmarks a:hover, #bookmarks a:focus, #bookmarks a.selected {
    background-color: #6969;
    color: cyan;
}

::-webkit-scrollbar {
    width: 1.666rem;
    border-radius: 0.25rem;
}
  
::-webkit-scrollbar-track {
    width: 1.666rem;
    background: #666;
    border-radius: 0.25rem;
}
  
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 0.25rem;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #111;
}
#tabs a h6 {
    display: none;
}
#tabs a:hover h6,
#tabs a:focus h6
{
    position: absolute;
    bottom: 0;
    width: max-content;
    display: block;
    margin: auto;
    padding: 0 0.666rem;
    border-radius: 0.666rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: #eee;
    color: #666;
    z-index: 999;
    text-align: center;
    font-size: 1rem;
    line-height: 1.666rem;
}