html, body {
    color: limegreen;
    background-color: #0A0A0A;
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    margin: 0;
}
body {
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif);     */
    /* background-image: url(https://media3.giphy.com/media/l0O9zHWdXhGCryNKU/giphy.gif?cid=ecf05e472i69mzrj94wmil6p95s8ypwl9h1lxmynll6ya6xf&rid=giphy.gif&ct=g); */
    background-image: url(https://media0.giphy.com/media/l0HlVrqPItQH8D4iI/giphy.gif?cid=ecf05e47jvzcepz0wg8e2e27ort2rvnymwmychqysyu1wnmk&rid=giphy.gif&ct=g);
    animation: epilepsy 66.6s ease-in-out 333ms infinite normal both;
}
header {
    padding: 2.71828rem;
    text-align: center;
}
input[name=q] {
    font-family: monospace;
    width: 66.6vw;
    background-color: black;
    color: limegreen;
    box-shadow: 0 0 0.666rem greenyellow;
    border-radius: 0.666rem;
    padding: 0.666rem;
    border: none;
    font-size: 1.666rem;
    outline: none;
}

main {
    padding: 1.666rem;
    background-color: transparent;
}
main nav {

}

main nav ul {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 6.66rem [col-end]);
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding-top: 1.666rem;
    position: fixed;
}

main nav ul li {
    list-style: none;
    display: block;    
    width: 6.66rem;
    height: 6.66rem;
    text-align: center;
    margin-top: 0.666rem;
}
main nav ul li a, main nav ul li a:hover, main nav ul li a:visited, main nav ul li a:active {
    display: inline-block;
    border: 1px solid greenyellow;
    width: 3rem;
    height: 3em;
    line-height: 3rem;
    background-color: rgba(66, 666, 6, 0.666);
}
main nav ul li:nth-child(odd) a {
    border-radius: 6.66rem;
    background-color: rgba(666, 66, 6, 0.666);
}
main nav ul li a {
    border: 1px solid gold;
    transform: scale(1, 1);
    transition-property: transform;
    transition-duration: 1.666s;
    transition-timing-function: ease-out;
    transition-delay: 0ms;

}
main nav ul li a:hover {
    transform: scale(3,3);
    transition-property: transform;
    transition-duration: 1.666s;
    transition-timing-function: ease-in;
    transition-delay: 0ms;

    /* animation: zoom-in 6.66s ease-out 333ms infinite reverse both;     */
}
main nav ul li a:visited {}
main nav ul li a:active {}
main nav ul li a img {
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.retrun-to-the-promised-land {
    transform: translate3d(0, 0, 0)!important;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-delay: 66.6ms;
    transition-duration: 1.666s;
    transform-origin: unset;
}

@keyframes zoom-in {
    0% {
        transform: scale3d(1,1,1);
    }
    25% {
        transform: scale3d(0.999,0.999,1);
    }
    50% {
        transform: scale3d(1,1,1);
    }
    75% {
        transform: scale3d(1.333,1.333,1);
    }
    100% {
        transform: scale3d(1,1,1);
    }
}

@keyframes epilepsy {
    0% {
        background-position: -10vw -10vh;
    }
    10% {
        background-position: -10vw 10vh;
    }
    20% {
        background-position: -10vw -10vh;
    }
    30% {
        background-position: 10vw 10vh;
    }
    40% {
        background-position: 10vw -10vh;
    }
    50% {
        background-position: -10vw 10vh;
    }
    60% {
        background-position: -10vw -10vh;
    }
    100% {
        background-position: 0 0;
    }
}

/*
    let result = ``;
    for(let i=0; i<12*3; i++) {
        result += `@keyframes ${i}, ${i % 8}`;
    }
    console.log(result);
*/

/*<GENERATED>*/
/*</GENERATED>*/
